 name: Verify that query builder works fine with by numeric in between.
 #Please update the browser name accordingly e.g. chrome,chromeheadless,firefox or firefoxheadless etc..
 browser: firefox
 url: http://34.202.235.238/
 #authmethod: ADMINLOGIN
 username: admin
 password: admin
 test: regression
 type: QueryBuilderTestPlan
 reporter: ConsoleReporter
 subset1: \demographics\SEX\female
 subset2:
 success: patientcountsubset1
 successvalue: 21210
 expected: pass
 SearchTerm: "Hematocrit"
 TextToSelect: "age at measurement of hematocrit_vfr_bld_1"
 PatientCount: 4503
 NumericValue1: 15
 NumericValue2: 45