<style>
    .login-panel {
        border: .125em solid #ccc;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
        background: white;
        width: 25%;
        margin: 0 3rem;
        padding: 1rem 3rem 2rem 3rem;
    }

    .login-panel .fence-login-btn {
        margin-bottom: 1.5rem;
    }

    .corner-image {
        position: fixed;
        bottom: 0;
        right: 0;
        padding: 10px;
        z-index: -1;
    }

    .corner-image img {
        width: 70rem;
        height: auto;
        transform: scaleX(-1);
        /*    slide the image over a few px to the right*/
        margin-right: -3rem;
        margin-bottom: 1.2rem;
    }

    #main-content {
        min-height: unset !important;
    }

    .text-center p {
        font-size: 1.3em;
    }

    .panel-body h3 {
        margin-bottom: 1.5rem;
    }

    .panel-body p {
        margin-top: 2rem;
    }

    .flex-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .info-link,
    .fence-login-btn {
        font-size: 1.2em;
    }

    .open-link {
        font-size: 1.2em;
    }
</style>
<div class="text-center">
    <h1>Welcome to Authorized PIC-SURE</h1>
    <p>Search variables, apply filters on variables and genomic variants to build cohorts, and export participant-level
        data to jump-start your research.</p>
    <br/>
    <div class="flex-container">
        <!-- First Box: eRA Commons Login -->
        <div class="login-panel">
            <div class="panel-body">
                <h3>Log in</h3>
                <p>Explore studies you are authorized to access</p>
                <!-- Existing login information here -->
                <a id="fence-login-btn" href="{{ fenceURL }}&amp;idp=ras" class="btn btn-primary fence-login-btn">
                    Login with eRA Commons
                </a>
                <a href="https://www.era.nih.gov/register-accounts/understanding-era-commons-accounts.htm"
                   target="_blank" class="info-link">eRA Commons</a>
                <br/><br/>
                <p>Are you a BDC Developer? <a href="{{ fenceURL }}&amp;idp=google">Log in</a></p>
            </div>
        </div>

        <!-- Second Box: Open PIC-SURE -->
        <div class="login-panel">
            <div class="panel-body">
                <h3>Explore data without log in</h3>
                <p>Browse all studies and search all clinical variables in BDC using Open PIC-SURE.</p><br/>
                <a style="margin: 0 1.5rem" href="https://openpicsure.biodatacatalyst.nhlbi.nih.gov/"
                   target="_blank" class="btn btn-primary open-link">Go to Open PIC-SURE</a>
            </div>
        </div>
    </div>

    <!-- Bottom Right Corner Image -->
    <div class="corner-image">
        <img src="/images/login_dots.png" alt="Dots" class="img-responsive">
    </div>
</div>
