 name: Verify that obfuscation functionality is working fine.
 #Please update the browser name accordingly e.g. chrome,chromeheadless,firefox or firefoxheadless etc..
 browser: chrome
 url: http://34.202.235.238/
 test: regression
 type: QueryBuilderTestPlan
 reporter: ConsoleReporter
 success: patientcountsubset1
 successvalue: 21210
 expected: pass
 SearchTerm: "triglycerides"
 TextToSelect: "Blood mass concentration of triglycerides"
 ExpectedPatientCount:  65671 
 NumericValueLess: 2110