 name: This test case verify that AND Label not hidden
 browser: chrome
 url: http://34.202.235.238/
 #authmethod: ADMINLOGIN
 test: regression
 type: QueryBuilderTestPlan
 reporter: ConsoleReporter
 SearchTerm: "triglycerides"
 TextToSelect: "Blood mass concentration of triglycerides"
 PatientCount: 483
 SearchTermSecond: vitamin D
 TextToSelectSecond: "VITAMIN D (IU)"
 NumericValueLess: 50
 NumericValueLessSecond: 150
 EditNumericValue: 55
 PatientCount: 42186
