 name: Verify that query builder works fine for decimal values
 browser: chrome
 url: http://34.202.235.238/
 #authmethod: ADMINLOGIN
 username: admin
 password: admin
 test: regression
 type: QueryBuilderTestPlan
 reporter: ConsoleReporter
 subset1: \demographics\SEX\female
 subset2:
 success: patientcountsubset1
 expected: pass
 SearchTerm: SERUM CONCENTRATION OF CHLORIDE
 TextToSelect: "SERUM CONCENTRATION OF CHLORIDE mEq/L"
 PatientCount: 5700
 NumericValueLessDecimal: 115.5