 name: Verify that by numeric value greater than works fine.
 #Please update the browser name accordingly e.g. chrome,chromeheadless,firefox or firefoxheadless etc..
 browser: firefox
 url: http://34.202.235.238/
 #authmethod: ADMINLOGIN
 username: admin
 password: admin
 test: regression
 type: QueryBuilderTestPlan
 reporter: ConsoleReporter
 subset1: \demographics\SEX\female
 subset2:
 success: patientcountsubset1
 successvalue: 46633
 expected: pass
 SearchTerm: "triglycerides"
 TextToSelect: "age at measurement of triglycerides_1"
 PatientCount: 49584
 NumericValueGreater: 7