 name: Verify that query builder works fine for decimal values
 browser: chrome
 url: http://34.202.235.238/
 #authmethod: ADMINLOGIN
 username: admin
 password: admin
 test: regression
 type: QueryBuilderTestPlan
 reporter: ConsoleReporter
 subset1: \demographics\SEX\female
 subset2:
 success: patientcountsubset1
 expected: pass
 SearchTerm: triglycerides
 TextToSelect: "Blood mass concentration of triglycerides"
 PatientCount: 49523
 NumericValueLessDecimal: 882.5