 name: Verify that Authorized access page loads properly clicking Explore button on Dataaccess   
 #Please update the browser name accordingly e.g. chrome,chromeheadless,firefox or firefoxheadless etc..
 browser: chrome
 url: http://34.202.235.238/
 #authmethod: ADMINLOGIN
 username: admin
 password: admin
 test: regression
 type: QueryBuilderTestPlan
 reporter: ConsoleReporter
 subset1: \demographics\SEX\female
 subset2:
 success: patientcountsubset1
 successvalue: 21210
 expected: pass
 SearchTerm: "triglycerides"
 TextToSelect: "Blood mass concentration of triglycerides"
 PatientCount: 5479
 NumericValueLess: 1500