<div class="filter-modal-container">
    <div class="row">
        <div class="select-filter-type-container col">
            <select id="select-filter-type">
                <option value="any">Any Value</option>
                <option value="restrict">Restrict by Value</option>
            </select>
        </div>

        <div class="value-container" style="display: none;">
            {{#each searchResult.result.values}}
                <input class="categorical-filter-input" type="checkbox" value="{{this}}"/>{{this}} <br/>
            {{/each}}
        </div>

        <div class="button-container">
            <button id="add-filter-button">Add Filter to Query</button>
        </div>
    </div>
</div>