<div class="filter-modal-container">
    <div class="row">
        <div class="value-container">
            {{#each searchResult.result.values}}
                <input class="categorical-filter-input" type="checkbox" value="{{this}}"/>{{this}} <br/>
            {{/each}}
        </div>

        <div class="button-container">
            <button id="add-filter-button">Add Filter to Query</button>
        </div>
    </div>
</div>