<div class="filter-modal" style="background:white;">
    <div id="datatable-modal-table"></div>
    <div class="button-container">
        <button id="add-filter-button" tabindex="1099999">Add Filter to Query</button>
    </div>
</div>