<div class="study-description">
    Study Name: {{studyDescription}}
</div>
<div class="study-accession">
    Study Accession: {{studyAccession}}
</div>
<div class="dataset-description">
    Dataset Description: {{datasetDescription}}
</div>