<div class="filter-modal-container">
    <div class="row">
        
        <div class="value-container">
            <div class="min-value-container col">
                <div class="min-value">Min: {{min}}</div>
                <input id="min-value-input" type="number"/>
            </div>
            <div class="max-value-container col">
                <div class="max-value">Max: {{max}}</div>
                <input id="max-value-input" type="number" />
            </div>
        </div>

        <div class="button-container">
            <button id="add-filter-button">Add Filter to Query</button>
        </div>
    </div>
</div>