<div id="genomic-filter-container" class="genomic-container">
    <div id="gene-search-container"></div>
    <div id="consequence-search-container"></div>
    <div class="space-even">
        <section id="severity" class="thrid-width">
            {{> selection-panel heading="Variant severity" searchContext="Select variant severity of interest" options=severityOptions description=severityDescription }}
        </section>
        <section id="variant-class" class="thrid-width">
            {{> selection-panel heading="Variant class" searchContext="Select variant class of interest" options=classOptions description=classDescription }}
        </section>
        <section id="frequency-text" class="thrid-width">
            {{> selection-panel heading="Variant frequency" searchContext="Select variant frequency of interest" options=frequencyOptions description=frequencyDescription }}
        </section>
    </div>
    <section id="frequency-number" class="panel panel-default no-padding">
        <div class="panel-heading">
            <h4>Variant frequency in gnomAD</h4>
        </div>
         <div class="panel-body">
             {{> numerical-filter-partial }}
         </div>
    </section>
    <section id="filters" class="space-out">
        <div class="panel panel-default take-space no-padding">
            <div class="panel-heading space-out">
                <h4>Selected genomic filters</h4>
                <button id="clear-genomic-filters" class="btn-small btn btn-default tabable">Clear All</button>
            </div>
            <div class="panel-body">
                <div id="selected-filters" class="filter-container grey-border"></div>
            </div>
        </div>
        <div class="push-left-and-down">
            <button id="cancel-genomic-filters" class="btn-small btn btn-default tabable">Cancel</button>
            <button id="apply-genomic-filters" class="btn-small btn btn-primary tabable">Apply genomic filter</button>
        </div>
    </section>
</div>