<div id="tool-suite-help" class="search-help-modal">
    <p>There are a few reasons a user might see no or unexpected results when searching for variables.</p>
    <ul>
        <li>There may be several rows that seem to display duplicated variables from the same study. However, these are actually distinct variables within the study from different datasets. Click on each row to learn more about the dataset the variable is associated with.</li>
        <li>PIC-SURE does not support semantic search at this time. Try searching for synonyms of your search term (e.g. searching "myocardial infarction" instead of "heart attack"). Also ensure that your search term is spelled correctly.</li>
    </ul>
    <p>Note that you will not be able to use DCC Harmonized data set variables with variables from studies that are not included in the harmonized data set in the same query.</p>
    <p>If you are still experiencing trouble or seeing unexpected results, please <a
            href="https://biodatacatalyst.nhlbi.nih.gov/contact/" target="_blank"
            title='Clicking here will take you to the given link in another tab'>contact us</a>.</p>
</div>