<div id="no-results" style="margin-right: 8px;" aria-label="0 results match your search">
    0 results match your search
    <a id="no-results-help-empty" class="btn no-padding m-0" aria-label="A link that opens a modal called Why might I see unexpected search results?">Learn More</a>
</div>
