<div id="no-results" style="margin-right: 8px;" aria-label="0 results match your search">
    0 results match your search
    <i id="no-results-help" class="fa fa-question-circle fa-lg btn btn-icon no-results" tabindex="0" title="Why might I see unexpected search results?" aria-label="Why might I see unexpected search results?"></i>
</div>
