<div class="filter-modal-container">
    <div class="row">
        
        {{> numerical-filter-partial min=min max=max}}

        <div class="button-container">
            <button id="add-filter-button" tabindex="1000002">Add Filter to Query</button>
        </div>
    </div>
</div>