<div id="output-help" class="search-help-modal">
    <p>The Filtered Results by Study provides an overview of the obfuscated, aggregate counts of participants per study and consent group that meet the query criteria. The criteria for these counts are displayed in the Added Variable Filters box above. Without any variable filters, the counts displayed in the Filtered Results by Study are the total number of participants in each study and consent. Here, you can request access to studies you are not authorized to access using the “Request Access” button.</p>
    <h5>DATA OBFUSCATION</h5>
    <p>In PIC-SURE Open Access query results between 1-9 are obfuscated to anonymize the data.</p>
    <ul>
        <li>If the consent(s) or study(ies) are between 1-9 the query results will show &quot;&lt;10&quot;.</li>
        <li>If the consent(s) results are between 1-9 and the number of participants per study are 10 or higher the
            results will be obfuscated by ±3.</li>
        <li>Query results that are zero participants will show &quot;0 &quot;.</li>
    </ul>
</div>
