<style>
    .image-container {
        width: 100%;
    }
    .image-container img {
        width: inherit;
    }
</style>
<div>
    <div class="image-container">
        <img src="{{currentImage}}" title="An image explaining the UI" aria-label="An image explaining the UI" />
    </div>
    <div class="push-left-and-down">
        <button id="prev-button" class="btn btn-default" tabindex="0">Back</button><button id="next-button" class="btn btn-primary" tabindex="0">Next</button>
    </div>
</div>