<div id="query-results-help" class="search-help-modal">
    <p>There are four concept paths that are automatically included with any data export from PIC-SURE. These fields are listed and described below.<p>
    <h5>Patient ID</h5>
    <p>The “Patient ID” variable refers to the internal PIC-SURE participant identifier. Please note that this field is not linking participants between studies and therefore should not be used for data correlation between different data sources or to the original data files.</p>
    <h5>Parent Study Accession with Subject ID</h5>
    <p>The “Parent Study Accession with Subject ID” variable is the PIC-SURE generated identifier for parent studies. These identifiers are a combination of the study accession number and the subject identifier.</p>
    <h5>Topmed Study Accession with Subject ID</h5>
    <p>The “Topmed Study Accession with Subject ID” variable is the PIC-SURE generated identifier for TOPMed studies. These identifiers are a combination of the study accession number and the subject identifier.</p>
    <h5>Consents</h5>
    <p>The “consents” variable is the field used to determine which groups users are authorized to access from dbGaP. These identifiers are a combination of the study accession number and consent code. </p>
    <p>For more information about TOPMed and Parent studies, please visit
        <a href="https://topmed.nhlbi.nih.gov/faqs/what-difference-between-study-and-project-topmed" target="_blank">NHLBI Trans-Omics for Precision Medicine WGS-What is the difference between a "study" and a "project" in TOPMed?</a>.
    </p>
</div>
