<style>
	#search-box {
		width: 70%;
	}
	#genomic-filter-btn {
	    width:25%;
	}
	#tag-filters {
		border:solid;
		border-radius:1em;
	}
	#search-results {
		border:solid;
		border-radius:1em;
	}
</style>
<div id="search-controls">
	<input id='search-box' class='' placeholder="Search studies or variables"></input>
	<a id='genomic-filter-btn' class='btn btn-default'>Genomic Filtering</a>
</div>
<br>
<div id="tag-filters">
	
</div>
<br>
<div id="search-results">

</div>
