<style>
	#search-box {
		display: inline;
		vertical-align: bottom;
	}
	#search-button {
		width:6em;
	}
	#genomic-filter-btn {
	    width:10em;
		margin-right: 15px;
	}
	#search-controls:not([type="reset"]) {
		display: flex;
		flex-direction: row;
		justify-content: start;
		align-items: end;
	}
	#search-controls > *:not([type="reset"]):not(:last-child) {
		margin-right: 0.5em;
	}
	#search-controls > *:not([type="reset"]):not(:first-child) {
		box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
	}
	#search-controls label {
		margin-left: 15px;
	}
</style>

<div>
		<form id="search-controls" class="col">
	        <label for='search-box' class='col'>Search:</label>
	        <input id='search-box' type="search" autocomplete="on" role='search' class='form-control col' 
	        aria-label="Type search terms here, use enter or the search button to submit search"
	        title="Type search terms here, use enter or the search button to submit search"
	        placeholder="Search studies or variables"
			onsubmit="return false" 
			required>
				<input class="btn bg-transparent" value="" accesskey="r" type="reset"></input>
			</input>
	        <button id="search-button" type="button" class='btn btn-default col'
	        aria-label="You are on the search button"
	        >Search</button>
	        <button id='genomic-filter-btn' type="button" class='btn btn-default col'
	        aria-label="You are on the Genomic Filtering button"
	        >Genomic Filtering</button>
	    </form>
    <hr>
    <div id="search-area">
	    <div id="tag-filters" class="col-md-3">

	    </div>
		<div id="spinner-holder"></div>
	    <div class="col-md-9">
	        <div id="search-results">

	        </div>
    	</div>
    </div>
</div>