<style>
	#search-box {
		width: 55%;
		display: inline-block;
	}
	#search-button {
		width: 15%;
		min-width:5em;
	}
	#genomic-filter-btn {
	    width:25%;
	    min-width:10em;
	}
</style>

<div class="row">
    <div class="row">
		<form id="search-controls" class="col">
	        <label for='search-box' class='col'>Search</label>
	        <input id='search-box' type="search" autocomplete="off" role='search' class='form-control col' 
	        aria-label="Type search terms here, use enter or the search button to submit search"
	        title="Type search terms here, use enter or the search button to submit search"
	        placeholder="Search studies or variables" required>
				<input class="btn bg-transparent" value="" accesskey="r" type="reset"></input>
			</input>
    </button>
	        <a id="search-button" href='#' class='btn btn-default col'
	        aria-label="You are on the search button"
	        >Search</a>
	        <a id='genomic-filter-btn' href='#' class='btn btn-default col'
	        aria-label="You are on the Genomic Filtering button"
	        >Genomic Filtering</a>
	    </form>
    </div>
    <hr>
    <div class="row">
	    <div id="tag-filters" class="col-md-3">

	    </div>
	    <div class="col-md-9">
	        <div id="search-results">

	        </div>
    	</div>
    </div>
</div>