<style>
	#search-box {
		display: inline;
		vertical-align: bottom;
	}
	#search-button {
		width:6em;
	}
	#genomic-filter-btn {
	    width:10em;
	}
	#search-controls:not([type="reset"]) {
		display: flex;
		flex-direction: row;
		justify-content: start;
		align-items: end;
	}
	#search-controls > button:last-child {
		margin-right: 11px;
	}
	#search-controls > *:not([type="reset"]):not(:last-child) {
		margin-right: 0.5em;
	}
	#search-controls > *:not([type="reset"]):not(:first-child) {
		box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
	}
	#search-controls > label:first-of-type {
		margin-left: 1em;
	}
	#search-controls label {
		align-self: center;
	}
	.reset-button {
		align-self: center;
	}
	hr {
		width: 98%;
	}
	.center-spinner {
		text-align: center;
		margin: 50px auto;
	}
	.big-button {
		background-color: var(--nhlbi-red);
		color: white;
		box-shadow: 5px 10px 18px #888888;
		font-size: 25px;
		padding: 20px 45px;
		border-radius: 50px;
	}
	#guide-me-button:hover,
	#guide-me-button:active,
	#guide-me-button:focus {
		color: var(--nhlbi-red);
		background-color: white;
		border: 1px solid var(--nhlbi-red);
	}
	@media only screen and (max-width: 990px) {
           #guide-me-button {
              margin: 0;
           }
	}
	.loading{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(16, 16, 16, 0.5);
	}
	.spinner-vert-center {
		top: 25%;
	}
	#guide-me-button-container {
		display: flex;
		justify-content: center;
	}
</style>

<div>
    <div id="search-area" class="flex-container space-between">
	    <div id="tag-filters"></div>
		<div class="fill">
			<form id="search-controls" class="col">
				<label for='search-box' class='col'>Search:</label>
				<input id='search-box' type="search" autocomplete="on" role='search' class='form-control col'
				aria-label="Type search terms here, use enter or the search button to submit search"
				title="Type search terms here, use enter or the search button to submit search"
				placeholder="Search studies or variables"
				onsubmit="return false"
				data-intro="#search-box"
				data-sequence="1"
				required>
					<input class="btn bg-transparent reset-button" value="" accesskey="r" type="reset"></input>
				</input>
				<button id="search-button" type="button" class='btn btn-primary col'
				aria-label="You are on the search button"
				>Search</button>
                {{#if genomicFilteringEnabled}}
				<button id="genomic-filter-btn" type="button" class='btn btn-outline primary col'
				aria-label="You are on the Genomic Filtering button"
				data-intro="#genomic-filter-btn"
				data-sequence="2"
				>Genomic Filtering</button>
                {{/if}}
				<button id="search-reset-button" type="button" class='btn btn-outline danger'
				aria-label="You are on the reset button">Reset</button>
			</form>
			<hr>
			<div id="search-results" class="m-lr-12"></div>
			<div id="spinner-holder" class="center-spinner"></div>
			<div class="m-lr-12 grow">
				<div id="guide-me-button-container" data-intro="#empty-search-area" data-sequence="5">
					<button id="guide-me-button" class="btn big-button" tabindex="0" aria-label="You are on a button called 'Take a Tour' that opens a modal.">Take a Tour</button>
				</div>
			</div>
		</div>
    </div>
</div>
