<style>
	#search-box {
		width: 55%;
		display: inline-block;
	}
	#search-button {
		width: 15%;
		min-width:5em;
	}
	#genomic-filter-btn {
	    width:25%;
	    min-width:10em;
	}
</style>
<div id="search-controls" class="row">
	<input id='search-box' class='form-control col' placeholder="Search studies or variables"></input>
	<button id="search-button" class='btn btn-default col'>Search</button>
	<a id='genomic-filter-btn' class='btn btn-default col'>Genomic Filtering</a>
    
</div>
<br>
<div id="tag-filters">
	
</div>
<br>
<div id="search-results">

</div>
