<style>
    .seven-bridges-view-container {
        display: flex;
        flex-direction: column;
    }

    .query-id-container {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        margin: 10px 0px;
    }

    .query-id-container * {
        margin-right: 10px;
    }

    .query-id-box {
        width: fit-content;
        padding: 6px 4px;
        border: 1px solid black;
        border-radius: 5px;
        align-items: center;
        height: fit-content;
    }

    .options {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .options *:not(:last-child) {
        margin-right: 20px;
    }

    #seven-bridges-export-view hr {
        margin: 10px 0px;
        width: 98.8%;
    }
</style>
<div id="seven-bridges-export-view" class="seven-bridges-view-container">
    <div>
        <p>After copying the PIC-SURE API Public Project to your own workspace in Seven Bridges, you will need the
            following to export the data:</p>
        <ol>
            <li><span>Save the personalized user token to a file called “token.txt” in your copied PIC-SURE API project in Seven Bridges.</span>
                <div id="user-profile-container"></div>
                <hr>
            </li>
            <li><span>Copy the query ID and paste in the “0_Export_from_UI.ipynb” notebook where instructed.</span>
                <div class="query-id-container">
                    <label for="query-id">Query ID:</label>
                    <div id="query-id" class="query-id-box"></div>
                    <button id="copy-query-id-button" class="btn btn-primary">Copy Dataset ID</button>
                </div>
            </li>
        </ol>
        <p>Run the “0_Export_from_UI.ipynb” notebook to export the dataframe.</p>
    </div>
    <hr>
    <div class="options">
        <button id="cancel-button" class="btn btn-default">Cancel</button>
        <a href="https://accounts.sb.biodatacatalyst.nhlbi.nih.gov/providers/oidc/dcp-ds/login?idp=ras&next=https%3A%2F%2Fplatform.sb.biodatacatalyst.nhlbi.nih.gov%2Fu%2Fbiodatacatalyst%2Fpic-sure-api" target="_blank" class="btn btn-primary" aria-label="Link to Seven Bridges. Opens a new tab.">Go to Seven Bridges <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
    </div>
</div>