<style>
    .terra-view-container {
        display: flex;
        flex-direction: column;
    }

    .query-id-container {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        margin: 10px 0px;
    }

    .query-id-container * {
        margin-right: 10px;
    }

    .query-id-box {
        width: fit-content;
        padding: 6px 4px;
        border: 1px solid black;
        border-radius: 5px;
        align-items: center;
        height: fit-content;
    }

    .options {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .options *:not(:last-child) {
        margin-right: 20px;
    }

    #terra-export-view hr {
        margin: 10px 0px;
        width: 98.8%;
    }
</style>
<div id="terra-export-view" class="terra-view-container">
    <div>
        <p>After cloning the PIC-SURE API public workspace as a personal workspace, you will need the following to export the data:</p>
        <ol>
            <li><span>Copy the personalized access token and paste in the “Workspace_setup.ipynb” notebook where instructed. Run this notebook to set up your workspace.</span>
                <div id="user-profile-container"></div>
                <hr>
            </li>
            <li><span>Copy this token and paste in the “0_Export_from_UI.ipynb” notebook where instructed.</span>
                <div class="query-id-container">
                    <label for="query-id">Query ID:</label>
                    <div id="query-id" class="query-id-box"></div>
                    <button id="copy-query-id-button" class="btn btn-primary">Copy Query ID</button>
                </div>
            </li>
        </ol>
        <p>Run the “0_Export_from_UI.ipynb” notebook to export the dataframe.</p>
    </div>
    <hr>
    <div class="options">
        <button id="cancel-button" class="btn btn-default">Cancel</button>
        <a href="https://terra.biodatacatalyst.nhlbi.nih.gov/#workspaces/biodata-catalyst/BioData%20Catalyst%20PIC-SURE%20API%20R%20Examples" target="_blank" class="btn btn-primary" aria-label="Link to Terra for R. Opens a new tab.">Go to Terra via R <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
        <a href="https://terra.biodatacatalyst.nhlbi.nih.gov/#workspaces/biodata-catalyst/BioData%20Catalyst%20PIC-SURE%20API%20Python%20examples" target="_blank" class="btn btn-primary" aria-label="Link to Terra for Python. Opens a new tab.">Go to Terra via Python <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
    </div>
</div>