<div id="tool-suite" class="panel">
    <div class="space-out panel-heading">
        <span>Tool Suite</span>
        <i id="tool-suite-help" class="fa fa-info-circle fa-lg btn btn-icon" tabindex="0" title="Tool Suite Help"></i>
    </div>
    <div class="tools panel-body">
        <button id="package-data" class="btn btn-default big-btn tool" disabled>
            <i class="fa fa-cloud-download fa-4x" aria-hidden="true"></i>
            <span>Select and Package Data</span>
        </button>
        <button style="display: none" id="variant-explorer" class="btn btn-default big-btn tool" disabled>
            <i class="fa fa-cloud-download fa-4x" aria-hidden="true"></i>
            <span>Variant Explorer</span>
        </button >
        <button style="display: none" id="imaging"  class="btn btn-default big-btn tool" disabled>
            <i class="fa fa-cloud-download fa-4x" aria-hidden="true"></i>
            <span>Imaging Data</span>
        </button>
        <button id="distributions" class="btn btn-default big-btn tool" disabled>
            <i class="fa fa-pie-chart fa-4x" aria-hidden="true"></i>
            <span>Variable Distributions</span>
        </button>
    </div>
    <button style="display: none" id="export-to-seven-bridges" class="btn btn-default center tool" disabled>Export data to Seven Bridges</button>
</div>