<div id="tool-suite-help" class="search-help-modal">
    <h4>Welcome to the Tool Suite! Here are some tools that can be used to visualize and export data for your cohort of
        interest.</h4>
    <p>The Tool Suite provides tools that can be used to visualize and export data for your cohort of interest. Please note that the Tool Suite is unavailable when the total number of participants is 0 or when no variable selections have been made. More information about each tool is listed below.</p>
    <h5>Select and Package Data Tool</h5>
    <p>Of the phenotypic filters added to your query, browse and select which data you would like to export for your filtered cohort. Once the variables have been selected, package the data to export into a workspace of your choice.</p>
    <h5>Variable Distributions Tool</h5>
    <p>Visualize the distributions of phenotypic variables that have been added to the query for your filtered cohort. Categorical variable distributions are shown in pie charts and continuous variable distributions are shown as histograms.</p>
    <p>For more information about the tools, please refer to the
        <a href="https://tinyurl.com/PIC-SURE-User-Guide" target="_blank" aria-label="Clicking here will take you to the given link in another tab."
           title='Clicking here will take you to the given link in another tab'>BioData Catalyst Powered by PIC-SURE User Guide</a>.</p>
</div>
