<div id="output-help" class="search-help-modal">
    <p>
        Each variable has a set of associated tags, which are generated during the PIC-SURE data loading process. These tags
        are generated based on information associated with the variable, including the name of the study, study description,
        dataset name, PIC-SURE data type (continuous or categorical), and variable description.
    </p>
    <p>
        For a search in PIC-SURE, tags associated with a variable are displayed. Note that tags applicable to less than 5%
        or more than 95% of the search results are not displayed since these are not useful for filtering results.
    </p>
</div>