<div id="visualizations-modal">
    <h5>All visualizations display the distributions of each variable for the specified cohort of interest.</h5>
    <div class="visualization-body">
        <div class="center large" id="spinner-holder">{{#if spinning}}{{> spinner spinnerClasses}}{{/if}}</div>
        <div id="visualizations-container">
            {{#each visualizations.images}}
                {{> visualization-image-partial description=this.description image=this.image title=this.title }}
            {{/each}}
        </div>
    </div>
</div>