<p>This external website will be opened as a new tab in your browser.</p>
<p>Are you sure you want to leave <i>BDC-PIC-SURE?</i></p>
<div style="float: right">
    <button type="button" id="link-redirect-warning-close" class="btn" tabindex="1000001">Close</button>
    <button type="button" id="link-redirect-warning-continue" class="btn btn-primary" tabindex="1000002">Continue</button>
</div>
{{! Path: src/main/webapp/picsureui/common/link-redirect-warning-view.js }}