<div id="query-builder" class="flex-container space-between">
    <div id="filter-list"></div>
    <div data-intro="#results-panel-auth" data-sequence="7" class="output-size panel results-panel">    
        <div class="results-panel-header panel-heading">
            <h3>Results Panel</h3>
        </div>
        <div class="panel-body">
            <div id="query-results"></div>
            <div id="tool-suite-panel"  data-intro="#show-tool-suite" data-sequence="13"></div>
            <div id="filter-list-panel"></div>
        </div>
    </div>
</div>

