
{{#if analyticsId}}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{analyticsId}}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{analyticsId}}');
</script>
{{/if}}

	<div id="header" class="blue-bg-white-text">
		<div id="header-content" class="container"></div>
	</div>
	<div id="main-content" class="container">
		<div id="modal-window"></div>

		<div id="query-builder" class="col-md-8">
			<div class="row">
				<span class="query-builder-heading col-md-12">QUERY BUILDER</span>
			</div>
			<div class="row">
				<span class="query-name col-md-11">&nbsp;&nbsp;</span>
				{{#if advancedSearchLink}}<a href="{{advancedSearchLink}}" target="_blank" class="advanced-search-btn right">Advanced Search</a>{{/if}}
				<div class="search-tooltip-help col-md-1">
			</div>
            </div>
			<ul class="container" id="filter-list"></ul>
		</div>
		<div id="query-results" class="col-md-4"></div>
	</div>
	<div id="footer">
		<div id="footer-content"></div>
	</div>
