<style>
    .dialog-container p {
        text-align: justify;
        text-justify: inter-word;
    }
</style>
<div id="pic-sure-dialog" class="dialog-container">
    {{#each messages}}
        <p>{{this}}</p>
    {{/each}}
    <div id="options" class="space-even"></div>
</div>
