<!-- SORUCE: https://docs.google.com/document/d/1qqA12lmhBT5dG5dsBSTZA01Yc5Gt_weBOTh4CM4nr6A/ -->
<h4 class="c2" id="h.2ws5oyx3n46"><span class="c17">NHLBI </span><span class="c17">BioData Catalyst&reg; (BDC)
        Powered by PIC-SURE</span><span class="c17">&nbsp;Terms of Use </span></h4>
<p class="c18 c22"><span class="c16">Terms as of 22 November 2023</span></p>
<h4 class="c0" id="h.n8v0v7ruqxe2"><span class="c23">These Terms of Service constitute a legally binding agreement
        made between you, whether personally or on behalf of an entity (&ldquo;you&rdquo;, &ldquo;your&rdquo;)
        and</span><span class="c23">&nbsp;Harvard Medical School (&ldquo;University&rdquo;, &ldquo;we&rdquo;,
        &ldquo;our&rdquo;)</span><span class="c23">, concerning your access to and use of BDC Powered by PIC-SURE
        (&ldquo;PIC-SURE&rdquo;). You agree to access and use PIC-SURE for lawful purposes only. By accessing
        PIC-SURE, you expressly consent to the monitoring of your actions, content, data transiting and storage
        therein </span></h4>
<p class="c22 c18 c29"><span class="c1"></span></p>
<h4 class="c2" id="h.lzqfu97j0ytj"><span class="c10">By accessing and using PIC-SURE, you agree that you
        must:</span></h4>
<ul class="c19 lst-kix_4b1uhodv6jme-0 start">
    <li class="c9 li-bullet-0"><span class="c1">Conduct only authorized business on the system.</span></li>
    <li class="c9 li-bullet-0"><span class="c1">Follow all laws and regulations regarding research involving human
            data and data privacy that are applicable in the area where the research is conducted.</span></li>
</ul>
<ul class="c19 lst-kix_4b1uhodv6jme-1 start">
    <li class="c5 li-bullet-0"><span class="c1">In the United States, this includes all applicable federal, state,
            and local laws.</span></li>
    <li class="c5 li-bullet-0"><span>Outside of the United States, other laws will apply.</span></li>
</ul>
<ul class="c19 lst-kix_4b1uhodv6jme-0">
    <li class="c9 li-bullet-0"><span class="c1">Safeguard system resources against waste, loss, abuse, unauthorized
            use or disclosure, and misappropriation.</span></li>
    <li class="c9 li-bullet-0"><span class="c1">Respect the privacy of research participants at all times.</span>
    </li>
</ul>
<ul class="c19 lst-kix_4b1uhodv6jme-1 start">
    <li class="c5 li-bullet-0"><span class="c1">Do not use or disclose any information that directly identifies one
            or more participants.</span></li>
    <li class="c5 li-bullet-0"><span>If you become aware of any information that directly identifies one or more
            participants, notify the PIC-SURE team immediately using the </span><span class="c3"><a class="c12"
                href="https://hms-dbmi.atlassian.net/servicedesk/customer/portal/14/group/27" target="_blank">BDC
                Powered by PIC-SURE Help Desk</a></span><span class="c1">. </span></li>
</ul>
<ul class="c19 lst-kix_4b1uhodv6jme-0">
    <li class="c9 li-bullet-0"><span class="c1">Do not attempt to re-identify research participants or their
            relatives.</span></li>
</ul>
<ul class="c19 lst-kix_4b1uhodv6jme-1 start">
    <li class="c5 li-bullet-0"><span>If you unintentionally re-identify participants through the process of my work,
            contact the PIC-SURE team immediately using the </span><span class="c3"><a class="c12"
                href="https://hms-dbmi.atlassian.net/servicedesk/customer/portal/14/group/27" target="_blank">BDC
                Powered by PIC-SURE Help Desk</a></span><span class="c1">. </span></li>
    <li class="c5 li-bullet-0"><span>If you become aware of any uses or disclosures of BDC data that could endanger
            the security or privacy of research participants, contact the PIC-SURE team immediately using the
        </span><span class="c3"><a class="c12"
                href="https://hms-dbmi.atlassian.net/servicedesk/customer/portal/14/group/27" target="_blank">BDC
                Powered by PIC-SURE Help Desk</a></span><span class="c1">. </span></li>
</ul>
<ul class="c19 lst-kix_4b1uhodv6jme-0">
    <li class="c18 c15 c30 li-bullet-0"><span>Report all security incidents or suspected incidents (e.g., improper
            or suspicious acts) related to PIC-SURE using the </span><span class="c3"><a class="c12"
                href="https://hms-dbmi.atlassian.net/servicedesk/customer/portal/14/group/27" target="_blank">BDC
                Powered by PIC-SURE Help Desk</a></span><span class="c1">. </span></li>
    <li class="c9 li-bullet-0"><span>Contact the PIC-SURE team using the </span><span class="c3"><a class="c12"
                href="https://hms-dbmi.atlassian.net/servicedesk/customer/portal/14/group/27" target="_blank">BDC
                Powered by PIC-SURE Help Desk</a></span><span>&nbsp;</span><span class="c1">if you do not understand
            any of these rules.</span></li>
</ul>
<p class="c14 c15"><span class="c1"></span></p>
<h4 class="c2" id="h.eogb2t2vyas2"><span class="c10">By agreeing to the Terms of Service you understand and agree to
        the following:</span></h4>
<ul class="c19 lst-kix_uzu3otu6iszg-0 start">
    <li class="c6 li-bullet-0">
        <h4 id="h.5sfwjzpjl5k1" style="display:inline"><span class="c23">If the University provides links that are
                maintained or controlled by external organizations, the listing of links are not an endorsement of
                information, products, or services, and do not imply a direct association between the University and
                the operators of the outside resource links.</span></h4>
    </li>
    <li class="c7 li-bullet-0"><span class="c1">Neither the University nor its employees warrant that PIC-SURE will
            be uninterrupted, problem-free, free of omissions, or error-free; nor do they make any warranty as to
            the results that may be obtained from PIC-SURE. You expressly understand and agree that your use of
            PIC-SURE, or any material available through it, is at your own risk. </span></li>
    <li class="c7 li-bullet-0"><span class="c1">In no event will the University, its affiliates or participating
            institutions, or their respective directors, officers, employees, faculty members or students be liable
            for any damages, include incidental, indirect, special, punitive, exemplary, or consequential damages,
            arising out of your use of or inability to use of PIC-SURE, including without limitation, loss of
            revenue or anticipated profits, loss of goodwill, loss of data, computer failure or malfunction, or any
            and all other damages.</span></li>
    <li class="c7 li-bullet-0"><span class="c1">The University maintains the right to modify these Terms of Service
            at any time, and may do so by posting notice of such modifications to the PIC-SURE website. </span></li>
    <li class="c7 li-bullet-0"><span>Any modification made is effective immediately upon posting the modification
            (unless otherwise stated). You should visit this page periodically to review the current Terms of
            Service.</span></li>
</ul>
<h4 class="c2" id="h.vriofl4bscxu"><span class="c23 c28">By accessing and using PIC-SURE, you agree that you must
        NOT:</span></h4>
<ul class="c19 lst-kix_pnjcj4ihknnf-0 start">
    <li class="c9 li-bullet-0"><span>Use PIC-SURE to commit a criminal offense or engage in inappropriate or
            malicious behavior, or to encourage others to conduct acts that would constitute a criminal offense or
            give rise to civil liability.</span></li>
    <li class="c9 li-bullet-0"><span>Browse, search or reveal any protected data except in accordance with that
            which is required to perform your legitimate tasks or assigned duties.</span></li>
    <li class="c9 li-bullet-0"><span class="c1">Retrieve protected data or information, or in any other way disclose
            information, for someone who does not have authority to access that information.</span></li>
    <li class="c9 li-bullet-0"><span>Establish any unauthorized interfaces between systems, networks, and
            applications owned by the University.</span></li>
</ul>
<h3 class="c2 c24" id="h.zcvg25lzqqk"><span class="c8"></span></h3>
<p class="c18 c25"><span>PIC-SURE</span><span class="c1">&nbsp;is hosted on a FISMA (Federal Information Security
        Management Act) website. You are accessing a secure and restricted system that is provided for FISMA
        authorized use only. </span></p>
<p class="c25 c18"><span class="c1">By accepting these Terms of Service, you acknowledge:</span></p>
<p class="c14 c18"><span class="c1"></span></p>
<ul class="c19 lst-kix_mtmlnboh7x71-0 start">
    <li class="c20 c18 c15 li-bullet-0"><span class="c1">Harvard Medical School, for their FISMA service, routinely
            intercepts and monitors communications on this System for purposes including, but not limited to,
            penetration testing, network operations and defense, and/or personnel misconduct (PM).</span></li>
    <li class="c18 c15 c20 li-bullet-0"><span class="c1">Communications using, or data stored on, this platform are
            not private, are subject to routine monitoring, interception, and search, and may be disclosed or used
            for any Harvard Medical School FISMA service authorized purpose.</span></li>
    <li class="c20 c18 c15 li-bullet-0"><span class="c1">This Harvard Medical School FISMA system includes security
            measures to protect Harvard Medical School interests--not for your personal benefit or privacy.</span>
    </li>
</ul>
