<div class="top-bar">
	<header class="top-bar__header">
		<nav class="top-bar__nav">
			<a href="{{helpLink}}" class="col-md-1 btn top-bar__btn help-btn">Help</a>
			<a id="logout-btn" class="col-md-1 btn top-bar__btn logout-btn">Log Out</a>
		</nav>
	</header>
</div>

<div class="row header-row">
	<a href="/picsureui/"><img class="logo-img col-md-4" src="{{logoPath}}"></a>
	<a class="col-md-2 btn btn-default header-btn">Query Builder</a>
	<a class="col-md-2 btn btn-default header-btn" id="admin-btn" href="/psamaui/userManagement" style="display:none">Admin
	</a>
	<a class="col-md-2 btn btn-default header-btn" id="user-profile-btn" href="/psamaui/userProfile">User Profile
	</a>
</div>
