<div id="studies-access">
    <div class="space-out">
        <div>
            <h2 class="studies-title">Data Access Table</h2>
            <h4 class="studies-sub-title">View all studies and associated information available in PIC-SURE separated by
                consent group. Check personalized authorization for available studies in the "Access" column.</h4>
        </div>
        <div class="freeze-message">
            <div>{{freeze_msg}}</div>
        </div>
    </div>
    <div class="flex-col table-responsive" style="overflow-x: visible !important;">
        <table id="data-access-table" style="width:100%" class="table table-striped row-border hover" role="region"
               aria-label="A table showing infomation about studies included in Pic-sure. Use the first column to request access to studies."></table>
    </div>
</div>