<div class="row footer-row">
<p class="center">

</p><div class="footer-item">
<a href="https://biodatacatalyst.nhlbi.nih.gov/privacy" target="_blank"> Privacy Policy</a>
</div>|<div class="footer-item">
<a href="https://osp.od.nih.gov/scientific-sharing/policies/" target="_blank">Data Sharing Policy</a>
</div>|<div class="footer-item">
<a href="https://www.nhlbi.nih.gov/about/foia-fee-for-service-office" target="_blank">Freedom of Information Act (FOIA)</a>
</div>|<div class="footer-item">
<a href="https://biodatacatalyst.nhlbi.nih.gov/accessibility/" target="_blank">Accessibility </a>
</div>|<div class="footer-item">
<a href="https://www.hhs.gov" target="_blank">U.S. Department of Health &amp; Human Services</a>
</div>|<div class="footer-item">
<a href=" https://www.nih.gov/" target="_blank">National Institutes of Health</a>
</div>|<div class="footer-item">
<a href="https://www.nhlbi.nih.gov/" target="_blank">National Heart, Lung, and Blood Institute</a>
</div>|<div class="footer-item">
<a href=" https://www.usa.gov/" target="_blank">USA.gov</a>
</div>|<div class="footer-item">
<a href="https://www.hhs.gov/vulnerability-disclosure-policy/index.html" target="_blank">HHS Vulnerability Disclosure </a>
</div>

<p></p>

</div>
