<style>
    a * {
       pointer-events: none;
    }
</style>
<div class="row footer-row">
<p class="center">

</p><div class="footer-item">
<a href="https://biodatacatalyst.nhlbi.nih.gov/privacy" target="_blank"
   aria-label="Clicking here will take you to the given link in another tab."> Privacy Policy</a>
</div>|<div class="footer-item">
<a href="https://osp.od.nih.gov/scientific-sharing/policies/" target="_blank"
   aria-label="Clicking here will take you to the given link in another tab.">Data Sharing Policy</a>
</div>|<div class="footer-item">
<a href="https://www.nhlbi.nih.gov/about/foia-fee-for-service-office" target="_blank"
   aria-label="Clicking here will take you to the given link in another tab.">Freedom of Information Act (FOIA)</a>
</div>|<div class="footer-item">
<a href="https://biodatacatalyst.nhlbi.nih.gov/accessibility/" target="_blank"
   aria-label="Clicking here will take you to the given link in another tab.">Accessibility </a>
</div>|<div class="footer-item">
<a href="https://www.hhs.gov" target="_blank"
   aria-label="Clicking here will take you to the given link in another tab.">U.S. Department of Health &amp; Human Services</a>
</div>|<div class="footer-item">
<a href=" https://www.nih.gov/" target="_blank"
   aria-label="Clicking here will take you to the given link in another tab.">National Institutes of Health</a>
</div>|<div class="footer-item">
<a href="https://www.nhlbi.nih.gov/" target="_blank"
   aria-label="Clicking here will take you to the given link in another tab.">National Heart, Lung, and Blood Institute</a>
</div>|<div class="footer-item">
<a href=" https://www.usa.gov/" target="_blank"
   aria-label="Clicking here will take you to the given link in another tab.">USA.gov</a>
</div>|<div class="footer-item">
<a href="https://www.hhs.gov/vulnerability-disclosure-policy/index.html" target="_blank"
   aria-label="Clicking here will take you to the given link in another tab.">HHS Vulnerability Disclosure </a>
</div>

<p></p>

</div>
