<div class="row footer-row">
<p class="center">

<div class="footer-item">
<a href="https://biodatacatalyst.nhlbi.nih.gov/privacy"> Privacy Policy</a>
</div><div class="footer-item">
<a href="https://osp.od.nih.gov/scientific-sharing/policies/">Data Sharing Policy</a>
</div><div class="footer-item">
<a href="https://www.nhlbi.nih.gov/about/foia-fee-for-service-office">Freedom of Information Act (FOIA)</a>
</div><div class="footer-item">
<a href="https://biodatacatalyst.nhlbi.nih.gov/accessibility/">Accessibility </a>
</div><div class="footer-item">
<a href="https://www.hhs.gov/>U.S. Department of Health & Human Services</a>
</div><div class="footer-item">
<a href=" https://www.nih.gov/">National Institutes of Health</a>
</div><div class="footer-item">
<a href="https://www.nhlbi.nih.gov/">National Heart, Lung, and Blood Institute</a>
</div><div class="footer-item">
<a href=" https://www.usa.gov/">USA.gov</a>
</div>

</p>

</div>