<div id="query-builder" class="flex-container space-between">
    <div id="filter-list"></div>
    <div class="output-size">    
        <div id="query-results"></div>
        <div id="filter-list-panel"></div>
        <div id="studies-list-panel"></div>
    </div>
</div>