<div id="output-help" class="search-help-modal">
    <p>PIC-SURE Open Access allows you to search any clinical variable available in PIC-SURE. Genomic variables, stigmatizing variables, and participant-level data are not available for search or export in PIC-SURE Open Access. Your queries will return obfuscated, aggregate counts per study and consent. </p>
    <h5>DATA OBFUSCATION</h5>
    <p>In PIC-SURE Open Access query results between 1-9 are obfuscated to anonymize the data.</p>
    <ul>
        <li>If the consent(s) or study(ies) are between 1-9 the query results will show &quot;&lt;10&quot;.</li>
        <li>If the consent(s) results are between 1-9 and the number of participants per study are 10 or higher the
            results will be obfuscated by ±3.</li>
        <li>Query results that are zero participants will show &quot;0 &quot;.</li>
    </ul>
    <h5>STIGMATIZING VARIABLES</h5>
    <p>The PIC-SURE Open Access dataset excludes stigmatizing variables from the following categories: Mental health diagnoses/history/treatment; Illicit drug use history; Sexually transmitted disease diagnoses/history/treatment; Sexual history; Intellectual Achievement/Ability/Educational Attainment; Direct or surrogate identifiers of legal status. If you have any questions or concerns, please <a href='https://biodatacatalyst.nhlbi.nih.gov/contact/' target='_blank' title='Clicking here will take you to the given link in another tab'>contact us.</a> </p>
</div>
