<style>
    #patient-count {
        margin-bottom: 10px;
        font-size: 200%;
        font-weight: 800;
        width: 98%;
        margin-bottom: .1em;
    }
    .total-participants-label {
        font-size: 150%;
        font-weight: 600;
        width: 98%;
        margin-bottom: .5em;
    }

</style>
<div class="panel">
<div class="space-out panel-heading">
        <span>Data Summary</span>
        <a id="open-access-output-help" class="btn no-padding" title="Open Access Help" tabindex="0" aria-label="Open Access Help">More Detials</a>
</div>
<div id="patient-count-box" class="panel-body">
	<div class="center large" id="spinner-total">{{#if spinning}}{{> spinner spinnerClasses}}{{/if}}</div>
	<div id="patient-count" class="blue center">
        {{#if queryRan}}
            <span class="total-patients-count">{{totalPatients}}</span>
            <span class="total-patients-suffix">{{totalPatientsSuffix}}</span>
        {{/if}}
    </div>
	<div class="center medium total-participants-label">Total Participants</div>
	<div class="container" id="pic-sure-instances">
		<div id="select-spinner"></div>
	</div>

</div>
</div>
