<style>
    .total-patients-count {
        font-size: 5em;
    }
    .total-patients-suffix {
        font-size: 2.5em;
    }
    #patient-count {
        margin-bottom: 10px;
    }
    .total-participants-label {
        margin-bottom: 10px;
    }

</style>
<div class="panel">
<div class="space-out panel-heading">
        <span>Data Summary</span>
        <i id="open-access-output-help" class="fa fa-info-circle fa-lg btn btn-icon" tabindex="0" title="Open Access Help"></i>
</div>
<div id="patient-count-box" class="panel-body">
	<div class="center large" id="spinner-total">{{#if spinning}}{{> spinner spinnerClasses}}{{/if}}</div>
	<div id="patient-count" class="blue center">
        {{#if queryRan}}
            <span class="total-patients-count">{{totalPatients}}</span>
            <span class="total-patients-suffix">{{totalPatientsSuffix}}</span>
        {{/if}}
    </div>
	<div class="center medium total-participants-label">Total Participants</div>
	<div class="container" id="pic-sure-instances">
		<div id="select-spinner"></div>
	</div>
	
</div>
</div>
