<div class="modal" id="search-help-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Instructions</h4>
            </div>
            <div class="modal-body">
                <h2>Welcome to PIC-SURE Open Access</h2>

                <p>
                    PIC-SURE Open Access allows you to search de-stigmatized, phenotypic data available in PIC-SURE. Your search results will return aggregate counts per study and cohort. From this app you have the ability to request access to studies and cohorts. Visit the User Guide to learn about the features available in PIC-SURE Open Access.
                </p>

                <p>
                <div style="font-weight: bold">DATA</div>
                The data available in PIC-SURE Open Access includes phenotypic data in PIC-SURE. Patient level data is not available for search or export in PIC-SURE Open Access.
                </p>

                <p>
                <div style="font-weight: bold">SEARCH</div>
                You can enter any search term and you will be presented with a series of variables that can be used to filter subsets of the data. There are many phenotypes in the system, try entering "asthma" and press enter. You will find several tabs of search results.
                </p>

                <p>
                <div style="font-weight: bold">SEARCH RESULTS</div>
                When you select a search result, you will be presented with options to filter your subset using this phenotype. Phenotype filters apply to study participants directly. If you filter by age less than 50, you will only have participants included in your participants counts that match that filter. In PIC-SURE Open Access if your search results are between 1-9 then the results will show as “<10”.
                </p>

                <p>
                <div style="font-weight: bold">STIGMATIZING VARIABLES</div>
                The PIC-SURE Open Access dataset excludes stigmatizing variables from the following categories: Mental health diagnoses/history/treatment; Illicit drug use history; Sexually transmitted disease diagnoses/history/treatment; Sexual history; Intellectual Achievement/Ability/Educational Attainment;
                Direct or surrogate identifiers of legal status. If you have any questions or concerns, please <a href="https://bdcatalyst.freshdesk.com/support/home">contact us</a>.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary close">Close</button>
            </div>
        </div>
    </div>
</div>
