<div class="modal" id="search-help-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Instructions</h4>
            </div>
            <div class="modal-body search-help-modal">
                <h2>Welcome to PIC-SURE Open Access</h2>
                <p>
                    PIC-SURE Open Access allows you to search any clinical variable available in PIC-SURE. Your results
                    will return aggregate counts per study and consent. From PIC-SURE Open Access you have the ability
                    to request access to studies you are currently not authorized to access. Visit the
                    <a href="https://tinyurl.com/PIC-SURE-User-Guide"
                       target="_blank" aria-label="Clicking here will take you to the given link in another tab."
                       title="Clicking here will take you to the given link in another tab">User Guide</a>
                    to learn about the features available in PIC-SURE Open Access.
                </p>

                <p>
                <h5>DATA</h5>
                The data available in PIC-SURE Open Access includes phenotypic data in PIC-SURE. Genomic variables,
                stigmatizing variables, and participant-level data are not available for search or export in PIC-SURE
                Open Access.
                </p>

                <p>
                <h5>SEARCH</h5>
                You can enter any search term and you will be presented with a series of variables that can be used to
                filter subsets of the data. Each search result represents a phenotype variable in the system, try
                entering "asthma" and press enter. Your search results will be organized in tabs and subtabs.
                </p>

                <p>
                <h5>QUERY</h5>
                When you select a search result, you will be presented with options to filter your subset using this
                phenotype. Phenotype filters apply to study participants directly. If you query by age less than 50, the
                total participants, studies, and consents in the results box will update with the results of your query.
                </p>

                <p>
                <h5>DATA OBFUSCATION</h5>
                In PIC-SURE Open Access query results between 1-9 are obfuscated to anonymize the data.
                </p>
                <p>
                    <ul>
                        <li>
                            If the consent(s), study(ies), and the total participants are between 1-9 the query results will show “<10”.
                        </li>
                        <li>
                            If the consent(s) results are between 1-9 and the study or total participants results are 10 or higher the results will be obfuscated by ±3.
                        </li>
                        <li>
                            Query results that are zero participants will show “0”.
                        </li>
                    </ul>
                </p>

                <p>
                <h5>STIGMATIZING VARIABLES</h5>
                The PIC-SURE Open Access dataset excludes stigmatizing variables from the following categories: Mental
                health diagnoses/history/treatment; Illicit drug use history; Sexually transmitted disease
                diagnoses/history/treatment; Sexual history; Intellectual Achievement/Ability/Educational Attainment;
                Direct or surrogate identifiers of legal status.If you have any questions or concerns, please
                <a href="https://bdcatalyst.freshdesk.com/support/home" target="_blank">contact us</a>.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary close">Close</button>
            </div>
        </div>
    </div>
</div>
