<div id="tool-suite" data-intro="#tool-suite" data-sequence="9" class="panel">
    <div class="space-out panel-heading">
        <span>Tool Suite</span>
        <a id="tool-suite-help" class="btn no-padding" title="Tool suite help" tabindex="0" aria-label="Tool suite help">What is this?</a>
    </div>
    <div class="tools panel-body">
        <button id="participant-study-data" data-intro="#participant-study-data" data-sequence="10" class="btn btn-default big-btn tool">
            <i class="fa-solid fa-people-group fa-4x" aria-hidden="true"></i>
            <span>Participant Count by Study</span>
        </button>
    </div>
</div>