<style>
    #bdc-terra-body ul {
        list-style-type: none;
    }

    #bdc-terra-body li {
        margin: 10px 0;
    }

    #bdc-terra-body button,
    #bdc-terra-body a {
        width: 100%;
        text-align: left;
    }
</style>
<p class="sub-title">Please select your preferred programming language and platform.</p>
<div style="margin: 30px auto 0 auto; width: max-content" id="bdc-terra-body">
    <ul>
        <li>
            <a class="btn btn-lg btn-primary" href="https://tinyurl.com/BDC-PIC-SURE-API-Python-Terra"
               target="_blank" tabindex="0">
                Python - Jupyter Notebook
                <i class="fa-solid fa-arrow-up-right-from-square"></i>
            </a>
        </li>
        <li>
            <a class="btn btn-lg btn-primary" href="https://tinyurl.com/BDC-PIC-SURE-API-R-Terra" target="_blank"
               tabindex="0">
                R - Jupyter Notebook
                <i class="fa-solid fa-arrow-up-right-from-square"></i>
            </a>
        </li>
        <li>
            <a class="btn btn-lg btn-primary" href="https://tinyurl.com/BDC-PIC-SURE-API-RStudio-Terra" target="_blank"
               tabindex="0">
                R - RStudio
                <i class="fa-solid fa-arrow-up-right-from-square"></i>
            </a>
        </li>
    </ul>
</div>