 name:To verify that report gets downloaded.
 #Please update the browser name accordingly e.g. chrome,chromeheadless,firefox or firefoxheadless etc..
 browser: chrome
 url: http://34.202.235.238/
 #authmethod: ADMINLOGIN
 username: admin
 password: admin
 test: regression
 type: QueryBuilderTestPlan
 reporter: ConsoleReporter
 subset1: \demographics\SEX\female
 subset2:
 success: patientcountsubset1
 successvalue: 21210
 expected: pass
 SearchTerm: Vitamin D
 textToSelect: Vitamin D
 PatientCount: 3039
 NumericValueLess: 70